/* Estilo básico para el cuerpo */
body {
    font-family: 'Coda', sans-serif, arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Estilo para la navegación */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 5px 5px 10px white;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

/* Sección de bienvenida */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#welcome-section h1 {
    font-family: 'Fira Code', sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
}

#welcome-section h3 {
    font-size: 1.5rem;
    font-family: monospace, 'Fira Code', arial;
}

/* Efecto estrellado */
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: transparent url("../img/stars02.png") repeat top center;
    z-index: -2;
    -moz-animation: move-twink-back 100s linear infinite;
    -ms-animation: move-twink-back 100s linear infinite;
    -o-animation: move-twink-back 100s linear infinite;
    -webkit-animation: move-twink-back 100s linear infinite;
    animation: move-twink-back 100s linear infinite;
    background: #000 url("../img/stars01.png") repeat top center
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

/* About-me  */
#about-me {
    padding: 50px 20px;
    height: 90vh;
    scroll-margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos estén apilados verticalmente */
    align-items: center;
}

#about-me h2 {
    margin-right: auto;
}

#about-me-slides {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 10rem;
}

.slide-text {
    background-color: rgba(30, 35, 30, 0.5);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid grey;
    max-width: 30%;
    font-size: 1.2rem;
    line-height: 2;
    height: fit-content;
}

.slide-img {
    width: 600px;
    /* Ajusta al tamaño que necesites */
    height: 600px;
    /* Debe ser igual al width para un círculo perfecto */
    overflow: hidden;
    border-radius: 50%;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Esto asegura que la imagen cubra todo el espacio sin distorsionarse */
}

#about-me span {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: auto;
}

#about-me>span>img {
    width: 100px;
}

/* Proyectos */
#projects {
    padding: 50px 20px;
    scroll-margin-top: 2.5rem;
}

#projects-slides {
    height: 100%;
}

#projects-buttons {
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    color: white;
    background-color: rgba(30, 35, 30, 0.5);
    border: 1px solid grey;
    border-radius: 5px;
}

.project-section {
    display: none;
    /* Oculta las secciones inicialmente */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#developer {
    display: flex;
    /* Muestra la sección Desarrollador Web por defecto */
}

.proj-slide {
    background-color: rgba(30, 35, 30, 0.5);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid grey;
    max-width: 25%;
    display: flex;
    flex-direction: column;
}

.proj-slide a {
    display: inline-block;
    text-align: center;
    margin-top: auto;
}

.img-slide {
    width: 100%;

}

.btn-container {
    margin-top: auto;
    display: flex;
}

/*
#developer{
    flex-grow: 2;
}

#data-analyst{
    flex-grow: 2;
}
*/

/* Sección de contacto */

#contact {
    margin-top: 200px;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}


/* Estilo de los labels y los inputs */
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Estilo del botón */
.contact-form button {
    width: 90%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 50px;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .contact-form {
        padding: 15px;
        max-width: 500px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.9rem;
    }

    .contact-form button {
        font-size: 0.9rem;
        padding: 10px;
    }
}

/* Media Query para pantallas pequeñas */
@media (max-width: 480px) {
    #navbar ul {
        flex-direction: column;
    }

    .project-tile {
        text-align: center;
    }
}