/* Estilo básico para el cuerpo */
body {
    font-family: 'Coda', sans-serif, arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Estilo para la navegación */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 5px 5px 10px white;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

/* Sección de bienvenida */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#welcome-section h1{
    font-family: 'Fira Code', sans-serif;
    font-size: 4rem;
    letter-spacing: 1rem;
}

#welcome-section h3{
    font-size: 1.5rem;
    font-family: monospace, 'Fira Code', arial;
}

/* Efecto estrellado */
body {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    background:transparent url(./img/stars02.png) repeat top center;
    z-index:-2;
    -moz-animation:move-twink-back 100s linear infinite;
    -ms-animation:move-twink-back 100s linear infinite;
    -o-animation:move-twink-back 100s linear infinite;
    -webkit-animation:move-twink-back 100s linear infinite;
    animation:move-twink-back 100s linear infinite;
    background:#000 url(./img/stars01.png) repeat top center
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

/* About-me  */
#about-me {
    padding: 50px 20px;
    height: 100vh;
    scroll-margin-top: 2.5rem;
}

#about-me-slides{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 10rem;
}

.slide {
    background-color: rgba(30,35, 30, 0.5);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid grey;
    max-width: 35%;
    font-size: 1.2rem;
    line-height: 2;
}

/* Proyectos */
#projects {
    padding: 50px 20px;
    height: 100vh;
    scroll-margin-top: 2.5rem;
}

#projects-slides{
    height: 100%;
}

#projects-buttons {
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
    color: white;
    background-color: rgba(30,35, 30, 0.5);
    border: 1px solid grey;
    border-radius: 5px;
}

.project-section {
    display: none;  /* Oculta las secciones inicialmente */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#developer {
    display: flex; /* Muestra la sección Desarrollador Web por defecto */
}

.proj-slide {
    background-color: rgba(30,35, 30, 0.5);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid grey;
    max-width: 25%;
    display: flex;
    flex-direction: column;
}

.proj-slide a{
    display: inline-block; 
    text-align: center;
    margin-top: auto;
}

.img-slide{
    width: 100%;
    
}

.btn-container{
    margin-top: auto;
    display: flex;
}

/*
#developer{
    flex-grow: 2;
}

#data-analyst{
    flex-grow: 2;
}
*/

/* Sección de contacto */
#contact {
    padding: 50px 20px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 480px) {
    #navbar ul {
        flex-direction: column;
    }

    .project-tile {
        text-align: center;
    }
}



